$mainfont: 'Share Tech Mono',
sans-serif;
$subfont: 'Montserrat',
sans-serif;

$dark: rgb(0, 0, 0);
$darkmed: rgb(44, 44, 44);
$medium: rgb(139, 139, 139);
$medlight: rgb(212, 212, 212);
$light: white;



body {
    
    font-family: $mainfont;
    height: auto;
    padding: 0;
    margin: 0;

}

.logo {
    transition: background-image 300ms ease-in-out;
    background-image: url('../img/header.png');
    background-position: top center;
    animation: logo 800ms ease-in;
    background-repeat: no-repeat;
    background-color: $light;
    background-size: contain;
    justify-content: center;
    max-width: 768px;
    cursor: pointer;
    display: flex;
    margin: auto;
    opacity: .85;
    height: 50px;
    width: 100%;

    &:hover {
        background-image: url('../img/header-hover.png');
        opacity: .85;

    }

    a {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

header {
    background-color: $darkmed;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    width: 100%;


    nav {
        display: flex;
        width: 100%;

        ul {
            list-style-type: none;
            display: flex;
            height: 50px;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                height: 100%;
                width: 100%;

                &:hover {
                    animation: navhov 280ms ease-in-out forwards;
                    background-color: $light;
                }

                a {
                    justify-content: center;
                    text-decoration: none;
                    align-items: center;
                    text-align: center;
                    font-size: 1.1rem;
                    cursor: pointer;
                    display: flex;
                    color: $light;
                    height: 100%;
                    width: 100%;

                    &:hover {
                        animation: navhov 280ms ease-in-out forwards;
                        text-transform: uppercase;
                        color: $dark;

                    }

                }
            }
        }
    }
}

main {

    justify-content: center;
    box-sizing: border-box;
    max-width: 748px;
    padding: 0 10px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;



    #cover {
        animation: cover 850ms forwards ease-in-out;
        clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
        background-color: $darkmed;
        position: absolute;
        max-width: 768px;
        height: 010%;
        width: 100%;
        z-index: -1;

    }

    .content {

        background-color: $darkmed;
        box-sizing: border-box;
        font-family: $subfont;
        word-spacing: .06rem;
        font-size: 1rem;
        flex-wrap: wrap;
        display: flex;
        color: $light;
        padding: .8rem .4rem .6rem .4rem;
        width: 100%;

    }

    .head {
        display: flex;
        width: 100%;

        .heading {
            text-shadow: -1.5px 1px .5px $dark;
            background-color: $medium;
            border: 4px solid $light;
            box-sizing: border-box;
            margin: 8px 0 10px 2px;
            word-spacing: .06rem;
            line-height: 1.3rem;
            margin-right: auto;
            font-size: 1.1rem;
            min-width: 50%;
            display: flex;
            padding: 1rem;
            color: $light;
        }
    }

    .head2 {

        display: flex;
        width: 100%;

        .heading2 {
            background-color: $light;
            border: 2px solid $medlight;
            box-sizing: border-box;
            margin: 15px 0 6px 2px;
            word-spacing: .06rem;
            line-height: 1.3rem;
            margin-right: auto;
            font-size: 1.1rem;
            min-width: 25%;
            display: flex;
            padding: .6rem;
            color: $dark;
        }
    }

    .img {
        box-sizing: border-box;
        margin: 8px 0 25px 0;
        display: flex;
        height: 100%;
        width: 100%;

    }
}

form {
    padding: 1rem;
    background-color: $medium;
    border: 4px solid $medlight;
    margin: 2rem;
}

#end {
    opacity: .3;
    margin: .5rem 0 0 0;
    width: 100%;
    height: .2rem;
    background-image:linear-gradient( to bottom, $light 20%, $medium 40%);


}

.preview {
    width: 100%;
    
    a {
        video {
            transition: outline 150ms ease-in-out;
            box-sizing: border-box;
            margin: 8px 0;
            width: 100%;
                

            &:hover {
                box-sizing: border-box;
                outline: 4px solid $medlight;
            }
        }
    }
}

.landing {
    background-image: linear-gradient(to bottom, $darkmed, $dark);
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    animation: cover 850ms forwards ease-in-out;
    justify-content: center;
    align-items: start;
    max-width: 768px;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    height: 80vh;

    video {

        clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
        width: 100%;
    }

}

.git {
    height: 5vh;
    max-height: 60px;
}




.tag {
    width: 100%;
    background-color: $darkmed;
    justify-content: flex-start;
    margin: 15px 0 0 0;
    align-items: center;
    margin-right: auto;
    display: flex;


    a {
        box-sizing: border-box;
        transition: color 150ms ease-in-out,
            background-color 150ms ease-in-out,
            outline 150ms ease-in-out;
        justify-content: flex-start;
        background-color: $dark;
        text-decoration: none;
        align-items: center;
        margin-bottom: 8px;
        text-align: center;
        // margin-left: 2px;
        cursor: pointer;
        padding: 0.3rem 1rem;
        display: flex;
        color: $light;
        height: 100%;
        width: 100%;

        &:hover {

            box-sizing: border-box;
            text-shadow: -1.5px 1px .5px $dark;
            background-color: $medium;
            outline: 4px solid $medlight;
            color: $light;
        }
    }
}

.space {
    height: 100px;
    width: 100px;
}

.links {
    justify-content: center;
    align-items: center;
    min-width: 300px;
    margin: 1rem 0;
    display: flex;
    height: 30px;
    width: 70%;

    a {
        display: flex;
        height: 100%;
        padding: 1rem 2rem;
        clip-path: polygon(85% 7%, 85% 85%, 50% 100%, 15% 85%, 15% 7%);


        &:hover {
            background-color: rgb(255, 255, 255);

            img {
                filter: invert(100%);
            }
        }

        img {
            justify-content: center;
            align-items: center;
            height: 100%;
            box-sizing: border-box;


            // &:hover {

            //     filter: invert(100%);

            // }
        }
    }

}

.contact {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 300px;
    display: flex;
    color: $light;
    padding: 1rem;
    width: 70%;

    .emailtxt {
        font-size: 1rem;
        font-family: $mainfont;
        background-color: $medlight;
        border-radius: 0px;
        padding: .5rem;
        margin: .5rem;
        border: none;
        width: 100%;

        &:focus {
            outline: none;
            background-color: $light;
        }

        &:active {
            background-color: $light;
        }

    }

    .subtxt {
        font-size: 1rem;
        font-family: $mainfont;
        background-color: $medlight;
        border-radius: 0px;
        padding: .5rem;
        margin: .5rem;
        resize: none;
        border: none;
        width: 100%;

        &:focus {
            outline: none;
            background-color: $light;
        }

        &:active {
            background-color: $light;
        }
    }

    .msgtxt {
        font-size: 1rem;
        font-family: $mainfont;
        background-color: $medlight;
        border-radius: 0px;
        padding: .5rem;
        margin: .5rem;
        resize: none;
        border: none;
        width: 100%;

        &:focus {
            outline: none;
            background-color: $light;
        }

        &:active {
            background-color: $light;
        }
    }

    .btn {
        font-size: 1rem;
        background-color: $light;
        font-family: $mainfont;
        border-radius: 0px;
        cursor: pointer;
        padding: .5rem;
        margin: .5rem;
        border: none;
        width: 50%;

        &:hover {
            transition: color 250ms ease-in-out,
                background-color 250ms ease-in-out;
            background-color: $dark;
            color: $light;
        }
    }

}




// media queries

@media all {
    a {
        font-size: .8rem;
    }
}

@media all and (min-width: 768px) {
    a {
        font-size: 1rem;
    }

    .logo {
        height: 70px;
    }

}

// animations

@keyframes navhov {
    0% {
        height: 50px;
        opacity: 0;
    }

    10%,
    30% {
        height: 60px;
    }

    75% {
        height: 45px;
    }

    100% {
        height: 50px;
        opacity: 1;
    }
}

@keyframes logo {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {}
}


@keyframes cover {
    0% {
        height: 1px;
    }

    100% {}
}