

body {
  font-family: "Share Tech Mono", sans-serif;
  height: auto;
  padding: 0;
  margin: 0;
}

.logo {
  -webkit-transition: background-image 300ms ease-in-out;
  transition: background-image 300ms ease-in-out;
  background-image: url("../img/header.png");
  background-position: top center;
  -webkit-animation: logo 800ms ease-in;
          animation: logo 800ms ease-in;
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 768px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  opacity: .85;
  height: 50px;
  width: 100%;
}

.logo:hover {
  background-image: url("../img/header-hover.png");
  opacity: .85;
}

.logo a {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

span {
  padding: 0;
  margin: 0;
}

header {
  background-color: #303030;
  max-width: 768px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header nav ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 0;
}

header nav ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

header nav ul li:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: navhov 200ms ease-in-out forwards;
          animation: navhov 200ms ease-in-out forwards;
  background-color: #7a7a7a;
  border: 4px solid white;
}

header nav ul li:hover a {
  text-shadow: -1px 0.7px 0.5px black;
  text-transform: uppercase;
  word-spacing: .06rem;
  line-height: 1.3rem;
  margin-right: auto;
  font-size: 1.1rem;
  min-width: 50%;
  padding: 1rem;
  color: white;
}

header nav ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 100%;
  width: 100%;
}

main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 748px;
  padding: 0 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

main #cover {
  -webkit-animation: cover 850ms forwards ease-in-out;
          animation: cover 850ms forwards ease-in-out;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
          clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  background-color: #303030;
  position: absolute;
  max-width: 768px;
  height: 010%;
  width: 100%;
  z-index: -1;
}

main .content {
  margin-top: .4rem;
  margin-bottom: 1.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  word-spacing: .06rem;
  font-size: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: .4rem;
  width: 100%;
}

main .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .head .heading {
  text-shadow: -1px 0.7px 0.5px black;
  background-color: #7a7a7a;
  border: 4px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1rem .1rem 1.5rem 0;
  word-spacing: .06rem;
  line-height: 1.3rem;
  margin-right: auto;
  font-size: 1.1rem;
  min-width: 50%;
  padding: 1rem;
  color: white;
}

main .head2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .head2 .heading2 {
  margin: 15px 0 6px 2px;
  word-spacing: .06rem;
  line-height: 1.3rem;
  margin-right: auto;
  font-size: 1.1rem;
  min-width: 30%;
  padding: .6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #303030;
  border: 4px solid #d4d4d4;
  color: white;
}

main .head3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .head3 .heading3 {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 85%, 5% 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 85%, 5% 0);
  margin: 15px 0 6px 4px;
  word-spacing: .06rem;
  line-height: 1.3rem;
  margin-right: auto;
  font-size: 1.1rem;
  min-width: 20%;
  padding: .4rem .4rem .4rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #7a7a7a;
  border: 2px solid #7a7a7a;
  color: white;
}

main .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 8px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

form {
  padding: 1rem;
  background-color: #7a7a7a;
  border: 4px solid #d4d4d4;
  margin: 2rem;
}

#end {
  margin: 10px 4px;
  width: 100%;
  height: .1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#2c2c2c), color-stop(35%, white), color-stop(65%, white), to(#2c2c2c));
  background-image: linear-gradient(left, #2c2c2c 0%, white 35%, white 65%, #2c2c2c 100%);
}

.preview {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.preview a {
  height: 100%;
  width: 100%;
}

.preview a video {
  background-color: #d4d4d4;
  -webkit-transition: outline 150ms ease-in-out;
  transition: outline 150ms ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  outline: 4px solid #303030;
}

.preview a video:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 4px solid #d4d4d4;
}

.landing {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#303030), to(black));
  background-image: linear-gradient(to bottom, #303030, black);
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
          clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  -webkit-animation: cover 850ms forwards ease-in-out;
          animation: cover 850ms forwards ease-in-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 768px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}

.landing video {
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
          clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  width: 100%;
}

.git {
  height: 5vh;
  max-height: 60px;
}

.tagger {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 150ms ease-in-out, outline 150ms ease-in-out;
  transition: background-color 150ms ease-in-out, outline 150ms ease-in-out;
  background-color: black;
  margin-right: auto;
  margin-left: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 100%;
  width: 100%;
}

.tagger:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-shadow: -1px 0.7px 0.3px black;
  background-color: #7a7a7a;
  outline: 4px solid #d4d4d4;
  color: white;
}

.tagger a {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
}

.links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 70%;
}

.links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 1rem 2rem 1.5rem 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 220ms ease-out;
  transition: background-color 220ms ease-out;
  -webkit-clip-path: polygon(85% 7%, 85% 75%, 50% 100%, 15% 75%, 15% 7%);
          clip-path: polygon(85% 7%, 85% 75%, 50% 100%, 15% 75%, 15% 7%);
}

.links a:hover {
  background-color: white;
}

.links a:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.links a img {
  height: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-filter 220ms ease-out;
  transition: -webkit-filter 220ms ease-out;
  transition: filter 220ms ease-out;
  transition: filter 220ms ease-out, -webkit-filter 220ms ease-out;
}

.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 1rem;
  width: 70%;
}

.contact .emailtxt {
  font-size: 1rem;
  font-family: "Share Tech Mono", sans-serif;
  background-color: #d4d4d4;
  border-radius: 0px;
  padding: .5rem;
  margin: .5rem;
  border: none;
  width: 100%;
}

.contact .emailtxt:focus {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #303030;
  outline: 4px solid #d4d4d4;
  color: white;
}

.contact .subtxt {
  font-size: 1rem;
  font-family: "Share Tech Mono", sans-serif;
  background-color: #d4d4d4;
  border-radius: 0px;
  padding: .5rem;
  margin: .5rem;
  resize: none;
  border: none;
  width: 100%;
}

.contact .subtxt:focus {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #303030;
  outline: 4px solid #d4d4d4;
  color: white;
}

.contact .msgtxt {
  font-size: 1rem;
  font-family: "Share Tech Mono", sans-serif;
  background-color: #d4d4d4;
  border-radius: 0px;
  padding: .5rem;
  margin: .5rem;
  resize: none;
  border: none;
  width: 100%;
}

.contact .msgtxt:focus {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #303030;
  outline: 4px solid #d4d4d4;
  color: white;
}

.contact .btn {
  -webkit-transition: background-color 150ms ease-in;
  transition: background-color 150ms ease-in;
  font-size: 1rem;
  background-color: white;
  font-family: "Share Tech Mono", sans-serif;
  border-radius: 0px;
  cursor: pointer;
  padding: .5rem;
  margin: .5rem;
  border: none;
  width: 50%;
}

.contact .btn:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #303030;
  outline: 4px solid #d4d4d4;
  color: white;
}

#backs {
  border: 3px solid black;
  border-radius: 2px;
  background-color: #303030;
  -webkit-animation: back 1300ms forwards ease-in;
          animation: back 1300ms forwards ease-in;
  -webkit-transition: background-color 120ms ease-in;
  transition: background-color 120ms ease-in;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .2rem .4rem;
  margin: 2rem 0 0 0;
}

#backs a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #7a7a7a;
  font-size: 1rem;
  text-decoration: none;
  -webkit-transition: color 120ms ease-in;
  transition: color 120ms ease-in;
}

#backs:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  border: 3px solid #d4d4d4;
}

#backs:hover a {
  color: white;
}

@media all {
  a {
    font-size: .8rem;
  }
}

@media all and (min-width: 768px) {
  a {
    font-size: 1rem;
  }
  .logo {
    height: 70px;
  }
}

@-webkit-keyframes navhov {
  0% {
    height: 50px;
    opacity: 0;
  }
  10%,
  30% {
    height: 60px;
  }
  75% {
    height: 45px;
  }
  100% {
    height: 50px;
    opacity: 1;
  }
}

@keyframes navhov {
  0% {
    height: 50px;
    opacity: 0;
  }
  10%,
  30% {
    height: 60px;
  }
  75% {
    height: 45px;
  }
  100% {
    height: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
  }
}

@keyframes logo {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
  }
}

@-webkit-keyframes back {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes back {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cover {
  0% {
    height: 1px;
  }
  100% {
  }
}

@keyframes cover {
  0% {
    height: 1px;
  }
  100% {
  }
}
/*# sourceMappingURL=main.css.map */