$mainfont: 'Share Tech Mono',
sans-serif;
$subfont: 'Montserrat',
sans-serif;

$dark: rgb(0, 0, 0);
$darkmed: rgb(48, 48, 48);
$drkmd: rgb(70, 70, 70);
$darkmedtrans: rgba(48, 48, 48, 0.5);
$medium: rgb(122, 122, 122);
$medlight: rgb(212, 212, 212);
$light: white;

$anicurve: cubic-bezier(0.4, 0.5, 0.5, 1.1);
$anicurve2: cubic-bezier(0.4, 0.5, 0.8, 1.2);
// $anicurve2: cubic-bezier(0.99, 0.64, 0.42, 1);
$anitime: 1000ms;
$anitime2: 300ms;
$hold: 500ms;
$hold2: 700ms;


body {
    font-family: $mainfont;
    height: auto;
    padding: 0;
    margin: 0;
}

.logo {
    transition: background-image 300ms ease-in-out;
    background-image: url('../img/header.png');
    background-position: top center;
    animation: logo 1000ms ease-in;
    background-repeat: no-repeat;
    background-color: $light;
    background-size: contain;
    justify-content: center;
    max-width: 768px;
    cursor: pointer;
    display: flex;
    margin: auto;
    opacity: .85;
    height: 50px;
    width: 100%;

    &:hover {
        background-image: url('../img/header-hover.png');
        opacity: .85;

    }

    a {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

span {
    padding: 0;
    margin: 0;

}

header {
    background-color: $darkmed;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    width: 100%;


    nav {
        display: flex;
        width: 100%;

        ul {
            box-sizing: border-box;
            list-style-type: none;
            display: flex;
            height: 50px;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                box-sizing: border-box;
                display: flex;
                height: 100%;
                width: 100%;

                &:hover {
                    box-sizing: border-box;
                    animation: navhov 200ms ease-in-out forwards;
                    background-color: $medium;
                    border: 4px solid $light;

                    a {
                        text-shadow: -1px .7px .5px $dark;
                        text-transform: uppercase;
                        word-spacing: .06rem;
                        line-height: 1.3rem;
                        margin-right: auto;
                        font-size: 1.1rem;
                        min-width: 50%;
                        padding: 1rem;
                        color: $light;

                    }
                }

                a {
                    box-sizing: border-box;
                    justify-content: center;
                    text-decoration: none;
                    align-items: center;
                    text-align: center;
                    font-size: 1.1rem;
                    cursor: pointer;
                    display: flex;
                    color: $light;
                    height: 100%;
                    width: 100%;


                }
            }
        }
    }
}

main {
    justify-content: center;
    box-sizing: border-box;
    max-width: 768px;
    padding: 0 10px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;

    #cover {
        position: absolute;
        z-index: -1;
    }



    .aniback {
        animation: cover $anitime forwards $anicurve;
        clip-path: polygon(768px 0, 100% 85%, 50% 100%, 0 85%, 0 0);
        background-color: $darkmed;
        max-width: 768px;
        height: 0;
        width: 100%;
    }

    .content {
        opacity: 0;
        animation: back $anitime2 forwards $hold2 $anicurve2;
        margin-top: .4rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        font-family: $subfont;
        word-spacing: .06rem;
        font-size: 1rem;
        flex-wrap: wrap;
        display: flex;
        color: $light;
        padding: .4rem;
        width: 100%;

    }

    .head {
        display: flex;
        width: 100%;

        .heading {
            opacity: 0;
            animation: back $anitime2 forwards $hold $anicurve2;
            text-shadow: -1px .7px .5px $dark;
            background-color: $medium;
            border: 4px solid $light;
            box-sizing: border-box;
            margin: 1rem .1rem 1.5rem .2rem;
            word-spacing: .06rem;
            line-height: 1.3rem;
            margin-right: auto;
            font-size: 1.1rem;
            min-width: 50%;

            padding: 1rem;
            color: $light;
        }
    }

    .head2 {

        display: flex;
        width: 100%;

        .heading2 {
            opacity: 0;
            animation: back $anitime2 forwards $hold2 $anicurve2;
            margin: 15px 0 6px 2px;
            word-spacing: .06rem;
            line-height: 1.3rem;
            margin-right: auto;
            font-size: 1.1rem;
            min-width: 30%;
            padding: .6rem;
            box-sizing: border-box;
            background-color: $darkmed;
            border: 4px solid $medlight;
            color: $light;
        }
    }

    .head3 {

        display: flex;
        width: 100%;

        .heading3 {
            opacity: 0;
            animation: back $anitime2 forwards $hold2 $anicurve2;
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 85%, 5% 0);
            margin: 15px 0 6px 4px;
            word-spacing: .06rem;
            line-height: 1.3rem;
            margin-right: auto;
            font-size: 1.1rem;
            min-width: 20%;
            padding: .4rem .4rem .4rem 1rem;
            box-sizing: border-box;
            background-color: $medium;
            border: 2px solid $medium;
            color: $light;
        }
    }

    .img {
        box-sizing: border-box;
        margin: 8px 0 25px 0;
        display: flex;
        height: 100%;
        width: 100%;

    }
}

form {

    padding: 1rem;
    background-color: $medium;
    border: 4px solid $medlight;
    margin: 2rem;
}

#end {
    margin: 10px 4px;
    width: 100%;
    height: .1rem;
    background-image: (linear-gradient(left, rgba(44, 44, 44, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 1) 65%, rgba(44, 44, 44, 1) 100%));
}

.preview {
    margin: .3rem;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    a {
        box-sizing: border-box;
        height: 100%;
        width: 100%;

        video {
            width: 100%;
            box-sizing: border-box;
            background-color: $medlight;
            outline: 4px solid $darkmed;
            transition: outline 150ms ease-in-out;
            animation: back $anitime2 forwards $hold2 $anicurve2;
            opacity: 0;

            &:hover {
                box-sizing: border-box;
                outline: 4px solid $medlight;
            }
        }
    }
}



.landing {
    
    background-image: linear-gradient(to bottom, $darkmed, $dark);
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    animation: landing $anitime forwards $anicurve;
    justify-content: center;
    align-items: start;
    max-width: 768px;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    height: 0;


    video {
        
        clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
        width: 100%;
    }

}

.git {
    height: 5vh;
    max-height: 60px;

}


pre {
     opacity: 0;
     animation: back $anitime2 forwards $hold2 $anicurve2;
}

.tagger {
    opacity: 0;
    animation: back $anitime2 forwards $hold2 $anicurve2;
    position: relative;
    box-sizing: border-box;
    transition:
        background-color 150ms ease-in-out,
        outline 150ms ease-in-out;
    background-color: $dark;
    margin-right: auto;
    margin-left: .2rem;
    cursor: pointer;
    display: flex;
    color: $light;
    height: 100%;
    width: 100%;


    &:hover {

        box-sizing: border-box;
        text-shadow: -1px .7px .3px $dark;
        background-color: $medium;
        outline: 4px solid $medlight;
        color: $light;
    }

    a {
        padding: 1rem;
        display: flex;
        text-align: left;
        height: 100%;
        width: 100%;
        color: $light;
        text-decoration: none;
    }

}

.links {
    opacity: 0;
    animation: back $anitime2 forwards $hold $anicurve2;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    margin: 1rem 0;
    display: flex;
    height: 50px;
    width: 70%;

    a {

        display: flex;
        height: 100%;
        padding: 1rem 2rem 1.5rem 2rem;
        align-items: flex-end;
        justify-content: center;
        transition: background-color 220ms ease-out;
        clip-path: polygon(85% 7%, 85% 85%, 50% 100%, 15% 85%, 15% 7%);

        &:hover {

            background-color: $light;

            img {
                filter: invert(100%);
            }
        }

        img {
            height: 70%;
            box-sizing: border-box;
            transition: filter 220ms ease-out;
        }
    }

}

.contact {
    opacity: 0;
    animation: back $anitime2 forwards $hold2 $anicurve2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 290px;
    max-width: 420px;
    display: flex;
    color: $light;
    padding: 1rem;
    width: 70%;

    .emailtxt {
        font-size: 1rem;
        font-family: $mainfont;
        background-color: $medlight;
        border-radius: 0px;
        padding: .5rem;
        margin: .5rem;
        border: none;
        width: 100%;

        &:focus {
            outline: none;
            box-sizing: border-box;
            background-color: $darkmed;
            outline: 4px solid $medlight;
            color: $light;
        }



    }

    .subtxt {
        font-size: 1rem;
        font-family: $mainfont;
        background-color: $medlight;
        border-radius: 0px;
        padding: .5rem;
        margin: .5rem;
        resize: none;
        border: none;
        width: 100%;

        &:focus {
            outline: none;
            box-sizing: border-box;
            background-color: $darkmed;
            outline: 4px solid $medlight;
            color: $light;
        }


    }

    .msgtxt {
        font-size: 1rem;
        font-family: $mainfont;
        background-color: $medlight;
        border-radius: 0px;
        padding: .5rem;
        margin: .5rem;
        resize: none;
        border: none;
        width: 100%;

        &:focus {
            outline: none;
            box-sizing: border-box;
            background-color: $darkmed;
            outline: 4px solid $medlight;
            color: $light;
        }


    }

    .btn {
        transition: background-color 100ms ease-in;

        font-size: 1rem;
        background-color: $light;
        font-family: $mainfont;
        border-radius: 0px;
        cursor: pointer;
        padding: .5rem;
        margin: .5rem;
        border: none;
        width: 50%;

        &:hover {
            box-sizing: border-box;
            background-color: $darkmed;
            outline: 4px solid $medlight;
            color: $light;
        }
    }

}


#backs {

    a {
        margin: 0;
        width: 100%;
        height: 100%;
        color: $medium;
        font-size: 1rem;
        text-decoration: none;
        transition: color 120ms ease-in;
        box-sizing: border-box;

    }

    opacity: 0;
    padding: .4rem;
    border: 3px solid $dark;
    border-radius: 2px;
    background-color: $darkmed;
    animation: back 500ms forwards 1s ease-in;
    transition: background-color 120ms ease-in;
    box-sizing: border-box;
    margin: 5% 0 0 0;

    &:hover {
        box-sizing: border-box;
        background-color: $dark;
        border: 3px solid $medlight;


        a {
            color: $light;
        }

    }

}

// media queries

@media all {

    a {

        font-size: .8rem;
    }
}

@media all and (min-width: 768px) {

    a {
        font-size: 1rem;
    }

    .logo {
        height: 70px;
    }

}

// animations

@keyframes navhov {
    0% {
        height: 50px;
        opacity: 0;
    }

    10%,
    30% {
        height: 60px;
    }

    75% {
        height: 45px;
    }

    100% {
        height: 50px;
        opacity: 1;
    }
}

@keyframes logo {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {}
}

@keyframes back {
    0% {

        opacity: 0;
    }
    40% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}


@keyframes landing {
    0% {
        height: 1vh;
    }


    100% {
        height: 85vh;
    }
}

@keyframes cover {
    0% {
        height: 1px;
    }


    100% {
        
    }
}