body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

body .cover2,
html .cover2 {
  overflow: auto;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img2/1.jpeg);
}

body #fade,
html #fade {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1 !important;
  background-color: black;
  opacity: 0;
  -webkit-animation: fader 3500ms ease-in-out forwards;
          animation: fader 3500ms ease-in-out forwards;
}

#button1 {
  left: 0;
  top: 46%;
  width: 1.5rem;
  height: 7rem;
  position: fixed;
  margin-left: 1rem;
  z-index: 2 !important;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: button 4700ms ease-in-out forwards;
          animation: button 4700ms ease-in-out forwards;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

#button2 {
  top: 46%;
  right: 0;
  width: 1.5rem;
  height: 7rem;
  position: fixed;
  margin-right: 1rem;
  z-index: 2 !important;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  -webkit-animation: button 4700ms ease-in-out forwards;
          animation: button 4700ms ease-in-out forwards;
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  opacity: 0.6;
  color: white;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  -webkit-animation: text 4000ms ease-in-out forwards;
          animation: text 4000ms ease-in-out forwards;
}

main #fadetxt {
  top: 46%;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  z-index: 5 !important;
  -webkit-transform-origin: center;
          transform-origin: center;
}

main #fadetxt h1 {
  color: white;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  -webkit-animation: fadetxt 3500ms ease-in forwards;
          animation: fadetxt 3500ms ease-in forwards;
}

#right {
  top: 40vh;
  right: 0;
  width: 50%;
  height: 20%;
  z-index: 100;
  cursor: pointer;
  position: absolute;
}

#left {
  top: 40vh;
  left: 0;
  width: 50%;
  height: 20%;
  z-index: 100;
  cursor: pointer;
  position: absolute;
}

.animate {
  -webkit-animation: change 500ms ease-in alternate;
          animation: change 500ms ease-in alternate;
}

@-webkit-keyframes fader {
  0% {
    opacity: 1;
  }
  52% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}

@keyframes fader {
  0% {
    opacity: 1;
  }
  52% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
  }
  52% {
    opacity: 0;
  }
  99% {
    opacity: .6;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  52% {
    opacity: 0;
  }
  99% {
    opacity: .6;
  }
}

@-webkit-keyframes button {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  69% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  73% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  79% {
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
  84% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  89% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes button {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  69% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  73% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  79% {
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
  84% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  89% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadetxt {
  0% {
    opacity: 1;
  }
  52% {
    opacity: 0.95;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  54% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
  65% {
    opacity: .8;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-100vh / 2));
            transform: translateY(calc(-100vh / 2));
  }
}

@keyframes fadetxt {
  0% {
    opacity: 1;
  }
  52% {
    opacity: 0.95;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  54% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
  65% {
    opacity: .8;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-100vh / 2));
            transform: translateY(calc(-100vh / 2));
  }
}
/*# sourceMappingURL=port.css.map */