html {
	overflow: scroll;
	overflow-x: scroll;
}

::-webkit-scrollbar {
	width: 2px;
	height: 0;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #79e0ff;

}

code[class*="language-"],
pre[class*="language-"] {
	font-size: .7rem;
	color: rgb(60, 152, 227);
	overflow: scroll;
	font-family: 'Share Tech Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	max-height: 20vh;
	width: 100%;
	padding: 0;
	margin: 0;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	color: inherit;
	background: rgba(0, 0, 0, 0.5);

}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	color: inherit;
	background: rgba(0, 0, 0, 0.5);

}

/* Code blocks */
pre[class*="language-"] {
	overflow: auto;
	padding: 1rem;
	margin-bottom: 1rem;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
	border-radius: 0px 0px 3px 3px;
	/* outline: 3px solid rgb(48, 48, 48); */
	border-top: 2px solid black;
	border-left: 2px solid rgb(51, 51, 51);
	border-right: 2px solid rgb(49, 49, 49);
	border-bottom: 8px solid rgb(75, 75, 75);
	background: #242424;

}

/* Inline code */
:not(pre)>code[class*="language-"] {
	padding: 1rem;
	border-radius: .3em;
	/* background: #000000; */
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #707070;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #766fff;
}

.token.operator,

.token.attr-name {
	color: #94ff7a;
	text-shadow: -1px 1px 1px rgb(0, 0, 0);
}

.token.punctuation {
	color: rgb(255, 154, 255);
}

.token.tag,
.token.tag,
.token.doctype,
.token.builtin {
	text-shadow: -1px 1px 1px rgb(0, 0, 0);
	color: #79e0ff;
}

.token.entity,
.token.number,
.token.symbol {
	color: #ffa0a0;
}

.token.property,
.token.constant,
.token.variable {
	color: #bbff6e;
}

.token.string,
.token.char {
	color: #70ffc4;
}

.token.attr-value,
.token.attr-value {

	color: #a0ffd7;
}

.token.attr-value .punctuation:first-child {
	color: #ff4ef0;
}

.token.url {
	color: #287bde;
	text-decoration: underline;
}

.token.function {
	text-shadow: -1px 1px 1px rgb(0, 0, 0);
	color: #bdff71;
}

/* .token.regex {
    background: #f476ff;
} */

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #294436;
}

.token.deleted {
	background: #484a4a;
}

/*code.language-css .token.punctuation {
	color: #cc7832;
}*/

code.language-css .token.property,
code.language-css .token.property+.token.punctuation {
	color: #f0eba3;
}

code.language-css .token.id {
	color: #ffc66d;
}

code.language-css .token.selector>.token.class,
code.language-css .token.selector>.token.attribute,
code.language-css .token.selector>.token.pseudo-class,
code.language-css .token.selector>.token.pseudo-element {
	color: #6dffaf;
}


/* Fallback, in case JS does not run, to ensure the code is at least visible */
[class*='lang-'] script[type='text/plain'],
[class*='language-'] script[type='text/plain'],
script[type='text/plain'][class*='lang-'],
script[type='text/plain'][class*='language-'] {
	display: block;
	font: 100% Consolas, Monaco, monospace;
	white-space: pre;
	overflow: auto;
}
