 html {
    overflow: scroll;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 2px;
    height: 0;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

code[class*="language-"],
pre[class*="language-"] {
    
    background: #000000;
    color: #6ae9ff;
    font-family: 'Share Tech Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    height: auto;
    max-height: 200px;
    width: 100%;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    color: inherit;
    background: rgba(33, 66, 131, .85);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    color: inherit;
    background: rgba(33, 66, 131, .85);
}

/* Code blocks */
pre[class*="language-"] {
    overflow: scroll;
    padding: 0 1em 1em 1em;
    margin: 4px;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    padding: 0 1em 1em 1em;
    background: #000000;
    /* border: 4px solid white; */
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: 0 1em 1em 1em;
    border-radius: .3em;
    /* background: #000000; */
}

.token.comment,
.token.prolog,
.token.cdata {
    color: #71ffec;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
    color: #b487fd;
}

.token.operator,
.token.punctuation,
.token.attr-name {
    color: #feffa8;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
    color: #6ae8c2;
}

.token.entity,
.token.number,
.token.symbol {
    color: #ffa0a0;
}

.token.property,
.token.constant,
.token.variable {
    color: #88ff00;
}

.token.string,
.token.char {
    color: #ffd4ad;
}

.token.attr-value,
.token.attr-value .punctuation {
    color: #a5c261;
}

.token.attr-value .punctuation:first-child {
    color: #f0f19d;
}

.token.url {
    color: #287bde;
    text-decoration: underline;
}

.token.function {
    color: hsl(315, 100%, 79%);
}

/* .token.regex {
    background: #f476ff;
} */

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.inserted {
    background: #294436;
}

.token.deleted {
    background: #484a4a;
}

/*code.language-css .token.punctuation {
	color: #cc7832;
}*/

code.language-css .token.property,
code.language-css .token.property+.token.punctuation {
    color: #f0eba3;
}

code.language-css .token.id {
    color: #ffc66d;
}

code.language-css .token.selector>.token.class,
code.language-css .token.selector>.token.attribute,
code.language-css .token.selector>.token.pseudo-class,
code.language-css .token.selector>.token.pseudo-element {
    color: #6dffaf;
}


/* Fallback, in case JS does not run, to ensure the code is at least visible */
[class*='lang-'] script[type='text/plain'],
[class*='language-'] script[type='text/plain'],
script[type='text/plain'][class*='lang-'],
script[type='text/plain'][class*='language-'] {
    display: block;
    font: 100% Consolas, Monaco, monospace;
    white-space: pre;
    overflow: auto;
}

