body {
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
    /* font-family: 'Lora', serif; */
    color: rgb(255, 255, 255);
}

.contnt {
    font-family: 'Share Tech Mono', sans-serif;
    
    /* background-color: rgb(255, 255, 255); */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #1b1b1b);
    color: hsl(0, 0%, 100%);
    font-size: 1em;
}

.text {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.logo {
    background-image: url('img/head-logo.png');
    background-size: cover;
    height: 120px;
    width: 120px;
    transition: 160ms ease-out;
}


.logo:hover {
    background-image: url('img/head-logo-hover.png');
}

.line {
    border-radius: 1px;
    background-color: #ffffff;
    /* background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0)); */
    height: 3px;
}
.line1 {
    background-color: #ffffff;
    border-radius: 1px; 
    /* background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0)); */
    height: 3px;
    width: 366px;
    margin: auto;
}

.baseline {
    background-color: #000000;
    height: 25px;
}


.title {
    color: white;
    text-shadow: -2px 2px 0.5px black; 
    font-size: 1.6rem;
    background-image: linear-gradient(to right, #000000, #6ae9ff);
    border: 2px solid rgb(0, 0, 0);
    /* border-radius: 3px;  */
    /* background-color: rgba(96, 231, 255, 0.2); */

}

.zero {
    background-image: url('img/toggle.png');
    background-size: cover;
    margin-bottom: 10px;
    height: 55px;
    width: 55px;
    border-radius: 0;
    transition: 180ms ease;

}

.zero:hover {
    background-image: url('img/active-toggle-90.png');
    background-size: cover;
    margin-bottom: 10px;
    height: 55px;
    width: 55px;
    border-radius: 0;
}

.navv {
    height: 15%;
}

@media (min-width: 768px) {
    .logo {
        height: 120px;
    }

    li a {
        text-align: center;
        color: rgb(255, 255, 255);
        transition: all 100ms ease;
        border-top: 70px solid rgb(0, 0, 0);
    }

    li a:hover {
        text-transform: uppercase;
        background-color: white;
        color: black;
        border-top: 70px solid rgb(255, 255, 255);
    }
    .no:hover {
        border: none;
    }
}

li a {
    text-align: center;
    color: rgb(255, 255, 255);
    transition: all 100ms ease;
}

li a:hover {
    text-transform: uppercase;
    background-color: white;

    color: black;
}

.no {
    color: #bdbdbd;
    border: none;
    padding: 5px;
}

.no:hover {
    color: #000000;
    background-color: white;
    padding: 5px;
    /* background-color: rgba(255, 255, 255, 0); */
    /* border-top: 3px solid rgb(255, 255, 255); */
    /* border-bottom: 3px solid rgb(255, 255, 255); */
}



/* @media (min-width: 992px) {
    .logo {
        height: 150px;
    }
}

@media (min-width: 1200px) {
    .logo {
        height: 150px
} */